
.full-screen-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: azure;
}

.central-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.join-quiz {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  margin-top: 40px;
}

.submit-button {
  padding-left: 10px;
}